/* 
Azul #3f66ed
Celeste #b3cfff
*/

p, ul, ol{
  font-size: larger;
}

h1,h2, h4{
padding-top: 2%;
padding-bottom: 2%;
}

h5{
padding-bottom: 2%;
}

mark {
background-color: lightyellow;
}

.one-padding-bottom{
padding-bottom: 1%;
}

a{
color: #3f66ed;
}

#borders{
margin-top: 5%;
margin-bottom: 5%;
}

.blockquote{
font-size: 1em;
width:80%;
margin-left:10%;
font-style:italic;
color: #555555;
padding:1.2em 30px 1.2em 75px;
border-left:8px solid #3f66ed;
line-height:1.2;
position: relative;
background:#EDEDED;
}

.blockquote::before{
font-family:Arial;
content: "\201C";
color:#3f66ed;
font-size:4em;
position: absolute;
left: 10px;
top:-10px;
}

.blockquote::after{
content: '';
}

.blockquote span{
display:block;
color:#333333;
font-style: normal;
font-weight: bold;
margin-top:1em;
}

.a-style{
color: black;
background-color: transparent;
text-decoration: none;
}

.black-background{
background-color: #212529;
}
